.userList {
    text-wrap: normal;
    word-wrap: break-word;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;

}

.row {
    border: 1px solid black
}

.centerText {
    text-align: center;
}